*{
    margin: 0;
    padding: 0;
}

:root{
    --navbar-height: 80px;
    --body-background-color: #d1d0d0;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--body-background-color);
}

#main{
    position: relative;
    top: var(--navbar-height);
    display: flex;
    flex-direction: column;

}



#navbar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: var(--navbar-height);
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    background: linear-gradient(#3a3a3d, #030303);
    font-weight: normal;
    z-index: 100;
}

#navbar a{
    margin-right: 100px;
    color: black;
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: normal;
    letter-spacing: 2px;
}




.skills-list{
    margin-left: 20px;
}



#introduction{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 

    
}





.section{
    height: calc(100vh - var(--navbar-height));
    padding-top: var(--navbar-height);
    margin-top: calc(var(--navbar-height) * -1);
    border-bottom: 1px dashed black; 

}

#introduction p{
    margin-left: 50px;
    margin-bottom: 5px;
    font-size: 200%;  
    position: relative;
    top: -300px;
    width: 60%;
}

.heading{
    font-size: 400% !important;
    margin-bottom: 20px !important;

}



.intro-text{
    animation: slideInLeft 1s ease-in-out forwards;
    text-align: left;
    width: 100%;
    height: 100%;

}





@keyframes slideInLeft {
    0%{
        margin-left: -100%;
    }
    100%{
        margin-left: 50px;
    }
}






.img-container, .portrait-container{
    max-width: 500px;
}



.portrait-container{
    max-width: 500px !important;
    margin-left: auto;
    position: relative;
    top: 70px;
    right: 100px;

    
}




.img-container img, .portrait-container img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}





.img-container:hover{
    transform: scale(1.05);
}

.img-grid{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 100px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 85px;
}



#skills{
    background: linear-gradient(#245f96, #091927);
}

#skills p{
    color: white;
    text-align: center;
    font-size: large;
}

#skills h1{
    text-align: center;
    color: white;
    font-size: 200%;
    position: relative;
    top: 50px;
}

.contact-form{
    

}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.input-field{
    margin-bottom: 20px;
}

#contact h1{
    position: relative;
    top: -80px;
    font-size: 200%;
}


















